
//
// VARIABLES
//

// Layout
$color-bg: #121210;
$color-text: #D4C098; //#BEA586;
$color-link: #FCFBE3; //#D9D9DB;
$color-date: #DFBA69;
$color-link-hi: #D9D9DB; //#FCFBE3;
$color-mast-hdr: #FCFBE3;
$color-mast-desc: #BEA586;
$color-mast-nav: #BEA586;
$color-mast-bdr: #A2825C;
$color-hdr: #D9D9DB;
$color-hdr-bg: #301E1A;
$color-date-bg: #A04B26;
$color-content-bg: #301e1a;
$color-post-bdr: #A2825C;
$color-post-cmt-hdr: #D9D9DB;
$color-post-ftr-bg: #5f3711;
$color-quote-bdr: #666;
$color-quote-bg: #d4c098;
$color-quote-text: #121210;
$color-foot-bg: #121210;
$color-foot-bdr: #A2825C;

// Colors
$blue: #4183C4; 

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}