
//
// VARIABLES
//

// Layout
$color-bg: #301E1A;
$color-text: #BEA586;
$color-link: #FCFBE3;
$color-link-hi: #FFFFFF;
$color-mast-hdr: #FCFBE3;
$color-mast-desc: #BEA586;
$color-mast-nav: #BEA586;
$color-mast-bdr: #A2825C;
$color-hdr: #A2825C; 
$color-post-bdr: #A2825C;
$color-foot-bg: #301E1A;

// Colors
$blue: #4183C4; 

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}